.container {
  display: flex;
  margin: 9% auto;
  flex-direction: column;
  color: #f7f6fc;
  padding: 220px 0;
  position: relative;
  width: 550px;
  background-image: url(../../../img/login.png);
  background-size: cover;
  border-radius: 2em;
}

.email {
  margin-bottom: 1%;
  position: absolute;
  left: 28%;
  top: 29%;
}

.pass {
  margin-bottom: 1%;
  position: absolute;
  right: 31.4%;
  top: 49%;
}

.button {
  border-radius: 2em;
  height: 3em;
  width: 6em;
  background-color: #bdabcd;
  color: black;
  position: absolute;
  top: 75%;
  left: 43%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.input {
  background-color: blueviolet;
  border-radius: 1em;
  height: 1.5em;
  width: 13em;
}

.errorsE {
  position: absolute;
  left: 14%;
  color: rgb(255, 255, 255);
  font-weight: 400;
  background-color: red;
  border-radius: 40em;
}

.errorsP {
  position: absolute;
  left: 2%;
  width: 20em;
  color: rgb(255, 255, 255);
  font-weight: 400;
  background-color: red;
  border-radius: 40em;
}

.button:hover {
  background-color: bisque;
}
