.divBienvenido {
background-image: url(../../../../../imagenes/little-prince-with-dog-colorful-science-fiction-fantasy-art-stars-artwork-.ico);
position: relative;
background-color: #a58cb0;
position: absolute;
bottom: 50%;
opacity: .3;
font-size: 10%;
right: 0;
size: 10%;
top: 40%;}

